<!-- ----------------------------------------

                           iEid
                         iDDDDDDDd
                       iDDDDDDDDDD
        EDDi         iDDDDDDDDDDDD
        DDDDDDi    iDDDDDDDE DDDDD
        DDiDDDDDDiDDDDDDDE   DDDDD
        DD  EDDDDDDDDDDD     DDDDD
        DD   iDDDDDDDDE      DDDDD
        DD iDDDDDiDDDDDDi    DDDDD
        DDDDDDE   iDDDDDDDiE DDDDD
        dDDDE        iDDDDDDDDDDDD
                       iDDDDDDDDDD
                         iDDDDDDD
                           iDid

      嫁人要嫁程序员，呆萌单纯可爱多~

---------------------------------------- -->
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.production_url }}{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/pygments.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="/css/typo.css" rel="stylesheet">
    <link href="/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="/css/syntax.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/hamster.css" rel="stylesheet">
    <link href='https://fonts.iwch.me/css?family=Open+Sans:400italic,400' rel='stylesheet' type='text/css'>

    <!-- javascript files -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/hamster.js"></script>
    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    <link rel="shortcut icon" href="/image/favicon.ico">
    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.hamster.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.hamster.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <script type="text/javascript">
    </script>

  </head>

  <body id="scroll-pane" data-spy="scroll" data-target="#time-list-nav">
    <div class="wrapper">
      <!-- 导航条 -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="row container">
          <div class="col-md-8 col-md-offset-2">
            <a class="navbar-brand" href="{{ HOME_PATH }}">
                <span class="site-author"> {{ site.title }} </span>
                <small><span class="site-title"> {{ site.author.name }} </span></small>
            </a>
            <ul class="nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include hamster/navigation_list %}
            </ul>
          </div>
        </div>
      </nav>

      <!-- 正文 -->
      {{ content }}
      <!-- 底部声明 -->
      <div class="row bottom">
        <small>
          <div class="col-md-8 text-center col-md-offset-2">
            本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.zh">知识共享署名-相同方式共享 3.0 未本地化版本许可协议</a>进行许可。<br/>Theme by <a href="https://github.com/codepiano/codepiano.github.com">[Codepiano]</a>, First Modified Version by <a href="https://github.com/pengx17/pengx17.github.io">[pengx17]</a>, Latest Modified Version by <a href="https://github.com/iHamsterball/ihamsterball.github.io">[iHamsterball]</a>
          </div>
        </small>
      </div>
    </div>
    <script color="#F9F9F9" type="text/javascript" src="/js/canvas-nest.min.js"></script>
    {% include hamster/analytics %}
  </body>
</html>
